@charset "UTF-8";

/* ------------------------------------------
  RESET
--------------------------------------------- */

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  BASE DEMO STYLES
--------------------------------------------- */






/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

.nav-collapse li {
  float: left;
  width: 100%;
}

nav ul li .btn-nav {
  color: #6fc639;
}

nav ul li .btn-nav:hover {
  color: #002e5e;
}

@media screen and (min-width: 52em) {
  .nav-collapse li {
  display: block;
  float: left;
  margin: 0;
  width: auto;
}

.nav-collapse, .nav-collapse ul {
  float: right;
  list-style: outside none none;
  right: 0;
  width: auto;
}
}

.nav-collapse a {
  color: #555;
  text-decoration: none;
  width: 100%;
  background: #f7f7f7 none repeat scroll 0 0;
  border-bottom: 1px solid white;
  padding: 0.7em 1em;
  float: left;
  height: 69px;
}

@media screen and (min-width: 52em) {
  .nav-collapse a {
  border-bottom: 0 none;
  float: left;
  margin: 0;
  padding: 23px 15px;
  text-align: center;
}

}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 52em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.nav-toggle::before {
  color: #6fc639;
  content: "≡";
  font-family: "responsivenav",sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 0;
  padding-top: 13px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  top: 0;
  width: 100%;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}
